body{
    text-align: center;
    color: darkorchid;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Container{
    border-radius: 1em;
    border-style: solid;
    border-color: rgb(241, 241, 255);
    border-width: 0.3em;
}