body{
    text-align: center;
    background-color: rgb(205, 208, 252);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Container{
    border-radius: 1em;
    border-style: solid;
    border-color: rgb(241, 241, 255);
    border-width: 0.3em;
}

#cabecera {
    border-radius: 1em;
    border-style: solid;
    border-color: rgb(255, 42, 227);
    border-width: 0.3em; 
    display: flex;
    align-items: center;
    background-color: rgb(245, 218, 239);
}

h2{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
imagen{
    padding-left: 30rem;
    height: 100;
    width: auto;
}